
<style> 
/* element sectors
   ________________*/

 h1 {
  color: #eb8900;
  font-family: sans-serif;
 }

 body {
  font-size: 22px;   
  font-family: sans-serif;
 }

 p {
  color: purple;
  font-family: sans-serif;
}


/* class sectors
   ________________*/

  .orange {
   color: #ffae1b;

  .highlight {
  text-transform: "Knudsen";
  background-color: gold;
}

/* media style */
@media {
 TO BE ENTERED
}

   
/* media style
   ________________*/
   
#buttons {
 font-size: 22px;
 color: #eff7fb
}

#top-section-body
   border: 1px solid black;

/* margins and padding style 
      ________________*/
   
  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }
</style>