
/* element sectors
   ________________*/

 h1 {
  font-size: 500%;
  font-family: 'Krub', sans-serif;
  text-align: center;
  font-weight: normal;
  color: #00BCD4;
  text-shadow: 1px 1px #000000;
 }

 h2 {
  font-size: 200%;
  font-family: 'Krub', sans-serif;
  text-align: center;
  font-weight: normal;
  text-align: center;
  color: #00BCD4;
 }

 h4 {
  font-size: 2.0em;
  font-family: 'Shadows Into Light Two', sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  color: #50393b;;
  text-shadow: 1px 1px  #b6d1d5;
 }

 h5 {
  font-size: 2.5em;
  font-family: 'Shadows Into Light Two', sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  color: #373737;;
 }

 h6 {
  font-size: 1.5em;
  font-family: cursive,'Shadows Into Light Two', sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  color: #2a398b;;

 }

 body {
  font-size: 22px;
  font-family: 'Krub', sans-serif;
  font-weight:200;
  position: relative;
 }

 p {
  font-family: 'Krub', sans-serif;
  font-style: normal;
  font-size: 1.0em;
  bottom: auto;
  left: auto;
  right: auto;
}



 ul {
  display: inline-block; text-align: left;
}



/* IMAGES
   ________________*/

.html-style {
  background: url(https://coolbackgrounds.io/images/backgrounds/white/white-trianglify-b79c7e1f.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 .homepage-picture {
 text-align: center;
 }

.one-picture {
 text-align: center;
 position: relative;
 width: 70vw;
 height: auto;
}

.one-picture2 {
 text-align: center;
 position: relative;
 width: 70vw;
 height: 60vw;
}

.code-css-picture {
 text-align: center;
 position: relative;
 width: 70vw;
 height: 40vw;
}


/* BORROWED CODE: Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* BORROWED CODE: Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.code-picture {
 text-align: center;
 border: 1px gray;
 position: relative;
 width: 30vw;
 height: 4vw;
}

 #tulip-photo {
  width: 80vw;
  height: 50vw;
  background-width: cover;
}

.center-text {
 text-align: center;
}

.smltext {
  font-family: 'Krub', sans-serif;
  font-size: 22px;

}

.smallest-text {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  width: 100%;
  height: auto;
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.center-inline {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* COLORS selectors
   ________________*/

  .orange {
   color: #ffae1b;
  }

  .charcoal {
   color: #5e5b5b;
  }

  .pink {
   color: #ee44a7;
  }

  .white {
   color: #ffffff;
  }

  .offblack {
   color: #3a3a3a;
  }


/* PADDING & MARGINS 
   ________________*/
   
 .main-heading {
  min-height: 1vmax;
  margin-top: 112px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
 }
   
 .main-sub-heading {
  min-height: 1vmax;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
 }

 .main-sub-heading2 {
  min-height: 1vmax;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
 }

 .main-content-box {
  border-style: double;
  border-color: #cbcece;
  border-width: 1px;
  box-shadow: 3px 7px #f8fafa;
  
  padding-left: 20px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-right: 20px;

  margin-bottom: 100px;
  
  background-color: #fffdfd;
  word-wrap: break-word;

  left: 10%;
  right: 10%;

  position: absolute;
 }

 .main-content {
  left: 8%;
  right: 8%;
  margin:auto; 

}

 .highlight {
 text-transform: "Knudsen";
 background-color: #ee44a7;
}

 .main-page-list {
  text-align: center;
}

  .box {
    border-style: solid;
    border-color: #b7b4b4;
    background-color: white;
    border-width: 1px;
    border-shadow: 4px 4px, grey;
    position: absolute;
    text-align: center;
    left: 10%;
    right: 10%;
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

  }

/* MEDIA queries 
   ________________*/

@media (min-width:1200) {
 

}



/* NAVBAR 
   ________________*/

  .nav {
  position: relative;
  top:0;
  left:0;
  width:100%;
  height: 30px;
  background-color: #48494a;
  border-top: 1px solid white;
  overflow: hidden;
   }

  .nav a {
   float: left;
   color: #ffffff;
   font-size: 80%;
   font-family: 'Krub', sans-serif;
   text-align: center;
   width: 30%;
   height: 80%;
   top: 50%;
   bottom: 50%;
   right: 10px;
   left: 10px;
}

  .nav a:hover {
   background-color: #ddd;
   color:#2bb8e6;
}

  .nav a:active {
   background-color: #d3eff8;
   color: #2196F3;
}

/* FOOTER style
   ________________*/

.footer {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 30px;
  background-color: #48494a;
  border-top: 1px solid white;
}

.footer-text {
  font-size: 15px;
  color: white;
  text-align: -webkit-right;
  right: 20px;
  height: center;
}

.footer-text2 {
  font-size: 15px;
  color: white;
  text-align: 
  right: 10px;
  height: center;

}

.parent {
 background-color: gray;
}

.macgyver  {
  width: 20vw;
  height: 20vw;
}

/* _______LEARNING NEW THINGS - EXAMPLE CSS________*/


.parent-box {
 
}

.dog-blue-1 {
 
  position: absolute;

}

.dog-beige-2 {

}
 
.dog-purple-3 {

}
